[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/alex43dm
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/alex43dm
	label-Verified = -1..+1 group user/alex43dm
	push = group user/alex43dm
	read = group user/alex43dm
	rebase = group user/alex43dm
	removeReviewer = group user/alex43dm
	submit = group user/alex43dm
[access "refs/heads/*"]
	create = group user/alex43dm
	push = +force group user/alex43dm
	pushMerge = group user/alex43dm
	read = group user/alex43dm
[access "refs/tags/*"]
	push = group user/alex43dm
	push = +force group user/alex43dm
